@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

.banner {
    background-image: url(img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}